{% extends "base.html" %}
{% load static %}
{% block title%}
Veikkaa
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    <form action="" method="post">
       {% csrf_token %}
       <div class="container">
           <h1>Puolivälierät</h1>
       {% for match in matches %}
       <div class="row bg-2">
           <div class="col-xs-3">
               {{ match.homeTeam.name }}
               <select name="{{ match.id }}home">
                   <option value="0">0</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                   <option value="6">6</option>
                   <option value="7">7</option>
                   <option value="8">8</option>
                   <option value="9">9</option>
                   <option value="10">10</option>
               </select>
           </div>
           <div class="col-xs-3">
               <select name="{{ match.id }}home">
                   <option value="0">0</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                   <option value="6">6</option>
                   <option value="7">7</option>
                   <option value="8">8</option>
                   <option value="9">9</option>
                   <option value="10">10</option>
               </select>
               -
               <select name="{{ match.id }}away">
                   <option value="0">0</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                   <option value="6">6</option>
                   <option value="7">7</option>
                   <option value="8">8</option>
                   <option value="9">9</option>
                   <option value="10">10</option>
               </select>
           </div>
           <div class="col-xs-3">
               {{ match.awayTeam.name }}
           </div>
           <div class="col-xs-3">
               <select name="{{ match.id }}winner" >
                   <option value="{{ match.homeTeam.id }}">{{ match.homeTeam.name }}</option>
                   <option value="{{ match.awayTeam.id }}">{{ match.awayTeam.name }}</option>
               </select>
           </div>
       </div>
       {% endfor %}
        </div>
        <input type="submit" class="btn-default" value="TALLENNA VEIKKAUKSET">
   </form>
</div>
{% endblock %}
